__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.mplconfig/
data/
.nextflow*
mn-ligand-workdir/
.tmp/
work/
output/
results/
.venv/
dist/
build/
!mn_ligand/app/components/molstar_viewer/frontend/build/
!mn_ligand/app/components/molstar_viewer/frontend/build/**
